doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Office
    link(rel="stylesheet", href="css/bootstrap/bootstrap.css")
    link(rel="stylesheet", href="fontawesome/fontawesome-free-5.11.2-web/css/all.css")
    link(rel="stylesheet", href="style.css")
  
  body
    main
      .box-img
        img.img-fluid.c-img(src="img/RE3BTFp.jpeg", alt="")
    

      .container
        .box-office.py-5
          h2.office-tittle Este es tu 365
          p Cada dia tienes una oportunidad nueva con Office 365.
          .office-link
            a(href="#") Para el hogar
            a(href="#") Para Empresas

      .bkg-color
        .container
          .row.pt-5
            div.col-12.col-md-4
              h2.service-tittle  Qué es Office 365
              p Office 365 es un servicio de suscripción basado en la nube que reúne las mejores herramientas para la forma de trabajar de hoy en día. Al combinar las mejores aplicaciones de su categoría, como Excel y Outlook, con servicios de gran utilidad en la nube, como OneDrive y Microsoft Teams, Office 365 permite a los usuarios crear y compartir desde cualquier lugar y dispositivo.
            div.col-12.col-md-8.pt-5
              img.img-fluid(src="img/RE49D7o.webp", alt="tablet")

      .container
        .box-information.py-5
          .information-tittle
            h2 Más Información sobre Office 365
          .information-box_link
            .box_link  
              img.mt-5.img-fluid(src="img/RE3hsE5.png", alt="")
              h4.mt-4 Hogar
              a.mt-3(href="#") Más Informacion
            .box_link  
              img.mt-5.img-fluid(src="img/RE3hxRH.webp", alt="")
              h4.mt-4 Pequeñas empresas
              a.mt-3(href="#") Más Informacion  
            .box_link  
              img.mt-5.img-fluid(src="img/RE3hSFA.png", alt="")
              h4.mt-4 Grandes empresas
              a.mt-3(href="#") Más Informacion
            .box_link  
              img.mt-5.img-fluid(src="img/RE3hKSi.png", alt="")
              h4.mt-4 Ámbito educativo
              a.mt-3(href="#") Más Informacion
      .linea
      .container
        .box-red_social.py-5
          div.red-social_tittle
            span Seguir Office
          ul.list-icon
            li
              a(href="#")
                i.fab.fa-linkedin-in.fa-2x
            li
              a(href="#")
                i.fab.fa-facebook-f.fa-2x
            li
              a(href="#")
                i.fab.fa-twitter.fa-2x
            li
              a(href="#")
                i.fab.fa-instagram.fa-2x

      footer.py-5
        .container
          .row
            .col-sm-6.col-md-4
              span Novedades
              ul.list-foot
                li
                  a(href="") Aplicaciones de Windows 10
                li
                  a(href="") Aplicaciones de Office
            .col-sm-6.col-md-4
              span Educación
              ul.list-foot
                li
                  a(href="") Office 365 para escuelas
                li
                  a(href="") Microsoft Azure en educacion
            .col-sm-6.col-md-4
              span Empresa
              ul.list-foot
                li
                  a(href="") Microsoft Azure
                li
                  a(href="") Recursos para asociados de Microsoft
            .col-sm-6.col-md-4
              span Desarrollador
              ul.list-foot
                li
                  a(href="") Microsoft Visual Estudio
                li
                  a(href="") Red de desarrolladores
                li
                  a(href="") TechNet
                li
                  a(href="") Channel 9
                li
                  a(href="") Centro para desarrolladores de Office
            .col-sm-6.col-md-4
              span Compañia
              ul.list-foot
                li
                  a(href="") Trabajos
                li
                  a(href="") Acerca de Microsoft
                li
                  a(href="") Privacidad de Microsoft
                li
                  a(href="") Inversionistas 

          .box-foot_two.py-3
            div.box-world
              i.fas.fa-globe-americas 
              a(href="#")  Spanish (Other)
            div.pt-3
              ul.list-foot.list-foot--two
                li
                  a(href="#")  Contact Microsoft
                li
                  a(href="#") Privacy & Cookies
                li
                  a(href="#") Terms of Use
                li
                  a(href="#") Trademarks
                li
                  a(href="#")  About our ads
                li
                  a(href="#") &copy; Microsoft 2019           
