doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Office
    link(rel="stylesheet", href="css/bootstrap/bootstrap.css")
    link(rel="stylesheet", href="fontawesome/fontawesome-free-5.11.2-web/css/all.css")
    link(rel="stylesheet", href="style.css")
  
  body
    main
      .box-img
        img.img-fluid.c-img(src="img/RE3BTFp.jpeg", alt="")
    

      .container
        .box-office.py-5
          h2.office-tittle Este es tu 365
          p Cada dia tienes una oportunidad nueva con Office 365.
          .office-link
            a(href="#") Para el hogar
            a(href="#") Para las Empresas

      .bkg-color
        .container
          .box-service.pt-5
            div
              h2.service-tittle  Qué es Office 365
              p Office 365 es un servicio de suscripción basado en la nube que reúne las mejores herramientas para la forma de trabajar de hoy en día. Al combinar las mejores aplicaciones de su categoría, como Excel y Outlook, con servicios de gran utilidad en la nube, como OneDrive y Microsoft Teams, Office 365 permite a los usuarios crear y compartir desde cualquier lugar y dispositivo.
        div.pt-5
              img.img-fluid(src="img/RE49D7o.webp", alt="tablet")

      .container
        .box-information.py-5
          .information-tittle
            h2 Más Información sobre Office 365
          .information-box_link
            .box_link  
              img.mt-5.img-fluid(src="img/RE3hsE5.png", alt="")
              h4.mt-4 Hogar
              a.mt-3(href="#") Más Informacion
            .box_link  
              img.mt-5.img-fluid(src="img/RE3hxRH.webp", alt="")
              h4.mt-4 Pequeñas empresas
              a.mt-3(href="#") Más Informacion  
            .box_link  
              img.mt-5.img-fluid(src="img/RE3hSFA.png", alt="")
              h4.mt-4 Grandes empresas
              a.mt-3(href="#") Más Informacion
            .box_link  
              img.mt-5.img-fluid(src="img/RE3hKSi.png", alt="")
              h4.mt-4 Ámbito educativo
              a.mt-3(href="#") Más Informacion

        .container
        .box-red_social.py-5
          div
            h3 Seguir Office
          ul.list-icon
            li
              a(href="#")
                i.fab.fa-linkedin-in
            li
              a(href="#")
                i.fab.fa-facebook-f
            li
              a(href="#")
                i.fab.fa-twitter
            li
              a(href="#")
                i.fab.fa-instagram
                      
